<?xml version="1.0"?>

<model>
  <name>Asl kolibri config 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Emanuele Pallaoro</name>
    <email>ema.pallaoro@gmail.com</email>
  </author>

  <description>
    Voliro Kolibri with #TODO
  </description>
</model>
